<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zkhz.a3rdlibsdemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".blur.BlurDemoActivity"></activity>
        <activity android:name=".rxjava.RxjavaActivity"></activity>
        <activity android:name=".rxjava.RxjavaActivity2"></activity>
        <activity android:name=".rxjava.RxjavaRetrofitActivity2"></activity>
        <activity android:name=".rxjava.RxjavaActivity3"></activity>
        <activity android:name=".rxjava.RxjavaLoginActivity3"></activity>
        <activity android:name=".rxjava.RxjavaActivity4"></activity>
        <activity android:name=".rxjava.RxjavaActivity5"></activity>
        <activity android:name=".rxjava.RxjavaActivity6">

        </activity>
        <activity android:name=".rxjava.RxjavaActivity7">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>