<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zkhz.a3rdlibsdemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".blur.BlurDemoActivity"></activity>
        <activity android:name=".coretopics.notification.NotifDemoActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
             android:resource="@xml/shortcuts"></meta-data>
        </activity>

        <!--设置常规 Activity PendingIntent-->
        <activity
            android:theme="@style/CustomTheme"
            android:name=".coretopics.notification.ResultActivity1"
            android:parentActivityName=".coretopics.notification.NotifDemoActivity1">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".coretopics.notification.NotifDemoActivity1" />
        </activity>

        <!--设置特殊 Activity PendingIntent-->
        <activity
            android:name=".coretopics.notification.ResultActivity2"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="">
        </activity>
    </application>

</manifest>